.header-absolute{
    background-color: #353434;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    position: sticky;
    top: 0px;
    z-index: 10000;
}
.heigh{
    transition: all .5s ease-in-out;
}
nav span{
    margin-left: 10px;
}

@media (max-width:768px) {
    nav{
        z-index: 1000;
        position: absolute;
        left: 0;
        top: 61px;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
        background-color: #353434;
        width: 100%;
        margin: 0px !important;
        padding: 0px !important;
        height: 0px;
        overflow-y: hidden;
    
        
    }
    .heigh{
        height: 200px;
          transition: all .5s ease-in-out;
    }
    nav span{
        margin-top: 5px;
    }
   .header-burger{
    cursor: pointer;
   }

    
}