
/* Customer font  */
@font-face {
  font-family: "My Custom Font";
  src: url(Components/Assets/Fonts/SpaceX.ttf) format("woff");
}

h1,h2,h3,h4,h5,h6,p,a,section{
  margin: 0;
}
.light{
  color: white;
}
.spaceX{
  font-family: "My Custom Font", Verdana, Tahoma;
}
.fon-500{
  font-weight: 500;
}
.pointer{
  cursor: pointer;
}
.title{
  color: #B90424;
}
.text-black{
  color: black;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  background-color: #2c2b2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
